<section class="container">
    <input class="form-control my-1" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="item"
        (input)="search()">
    <div class="card container my-3" *ngFor="let job of searchedJob; let i=index">
        <div class="card-header">
            #{{job._id}}
            <span class="float-end">{{job.createdAt|date:'medium'}}</span>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{job.title}}</h2>
            <h3 class="card-title">{{job?.location?.street}}, {{job?.location?.city}}</h3>
            <h3 class="card-title">Expected cost: ${{job.cost}} </h3>
            <p class="card-text">{{job.description}}.</p>
            <a routerLink="/job/apply/{{job._id.toString()}}" class="btn btn-primary"
                *ngIf="userType == 'freelancer'">Apply</a>
        </div>
    </div>
</section>